Flask==0.12
Flask-HTTPAuth==3.2.2
Flask-RESTful==0.3.5
Jinja2==2.9.5
MarkupSafe==0.23
Pillow==2.6.1
SQLAlchemy==1.1.5
Werkzeug==0.11.15
aniso8601==1.2.0
argparse==1.2.1
itsdangerous==0.24
numpy==1.8.2
psycopg2==2.6.2
scikit-learn==0.14.1
scipy==0.14.0
